In [5]:
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import DoubleType, IntegerType,StringType, FloatType
import pyspark
from pyspark.sql import SparkSession
import logging

In [26]:
spark = (
    SparkSession.builder.appName("Iceberg-Nessie")
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
    .config("spark.sql.catalog.lakehouse_prod_catalog", "org.apache.iceberg.spark.SparkCatalog")
    .config("spark.sql.catalog.lakehouse_prod_catalog.type", "nessie")
    .config("spark.sql.catalog.lakehouse_prod_catalog.uri", "http://nessie:19120/api/v2")
    .config("spark.sql.catalog.lakehouse_prod_catalog.ref", "main")
    .config("spark.sql.catalog.lakehouse_prod_catalog.warehouse", "s3a://warehouse/")
    .config("spark.sql.catalog.lakehouse_prod_catalog.s3.endpoint", "http://minio:9000")
    .config("spark.sql.catalog.lakehouse_prod_catalog.s3.path-style-access", "true")
    .config("spark.sql.catalog.lakehouse_prod_catalog.s3.access-key-id", "admin")
    .config("spark.sql.catalog.lakehouse_prod_catalog.s3.secret-access-key", "password")
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false")
    .getOrCreate()
)

25/10/15 16:15:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [27]:
spark

In [28]:
!pip install boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.12/site-packages (1.40.52)
Requirement already satisfied: botocore<1.41.0,>=1.40.52 in /usr/local/lib/python3.12/site-packages (from boto3) (1.40.52)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.12/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.15.0,>=0.14.0 in /usr/local/lib/python3.12/site-packages (from boto3) (0.14.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.12/site-packages (from botocore<1.41.0,>=1.40.52->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.12/site-packages (from botocore<1.41.0,>=1.40.52->boto3) (2.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.41.0,>=1.40.52->boto3) (1.17.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [29]:
import boto3
import pandas as pd
from io import StringIO

In [30]:
# S3 Credential
aws_access_key_id = "admin"
aws_secret_access_key = "password"

# Create S3 Client for MinIO
s3 = boto3.client(
    "s3",
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    endpoint_url="http://minio:9000",  # MinIO endpoint
    use_ssl=False
)

# Bucket Name
bucket_name = "landing-data"

# List objects in bucket
response = s3.list_objects_v2(Bucket=bucket_name)
objects_list = response.get("Contents", [])

# Loop through objects and read CSV into Pandas DataFrame
dfs = []  # list to store DataFrames
for obj in objects_list:
    obj_name = obj["Key"]
    response = s3.get_object(Bucket=bucket_name, Key=obj_name)
    object_content = response["Body"].read().decode("utf-8")

    # Convert CSV text to Pandas DataFrame
    df = pd.read_csv(StringIO(object_content))
    dfs.append(df)

# Combine all files into a single DataFrame (optional)
final_df = pd.concat(dfs, ignore_index=True)

final_df.head()

,Unnamed: 0,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Satisfaction Score,Work-Life Balance Score,Training Date,Training Program Name,Training Type,Training Outcome,Location,Trainer,Training Duration(Days),Training Cost
0,0,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,2,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11
1,1,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,1,5,12-Sep-22,Customer Service,External,Incomplete,Tammieville,Kelly Patterson DDS,4,673.02
2,2,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,2,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28
3,3,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,5,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78
4,4,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,5,3,13-Jul-23,Technical Skills,External,Failed,Lake Meganville,Donald Martinez,5,399.03

In [31]:
catalog = 'lakehouse_prod_catalog'
schema = 'raw_bronze_zone'
table_name = 'bronze_hris_employee'
mode = 'overwrite'

In [32]:
df_spark = spark.createDataFrame(final_df)
df_spark.show()

[Stage 0:>                                                          (0 + 1) / 1]

+----------+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+--------------------+-----------------------+-------------+
|Unnamed: 0|  FirstName|LastName|StartDate| ExitDate|               Title|       Supervisor|             ADEmail|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|Employee ID|Survey Date|Engagement Score|Satisfaction Score|Work-Life Balance Score|Training Date|Training Program Name|Training Type|Training Outcome|         Location|             Trainer|Training Duration(Days)|Training Cost|
+----------+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+--------------------+-----------------------+-------------+
|         0|      Uriah| Bridges|20-Sep-19|      NaN|Production Techni...|     Peter Oneill|uriah.bridges@bil...|        CCDR|        Active|    Contract| Zone C|                 Temporary|            Unk|                   NaN|Production       |Finance & Accounting|07-10-1969|   MA|            Accounting|    Female|       34904|   White|    Widowed|      Fully Meets|                      4|       3427| 14-01-2023|               1|                 2|                      3|    15-Jul-23| Leadership Develo...|     Internal|          Failed|     South Marisa|    Taylor Rodriguez|                      2|       606.11|
|         1|      Paula|   Small|11-Feb-23|      NaN|Production Techni...|  Renee Mccormick|paula.small@bilea...|          EW|        Active|    Contract| Zone A|                 Part-Time|            Unk|                   NaN|Production       |              Aerial|30-08-1965|   MA|                 Labor|      Male|        6593|Hispanic|    Widowed|      Fully Meets|                      3|       3428| 09-09-2022|               2|                 1|                      5|    12-Sep-22|     Customer Service|     External|      Incomplete|      Tammieville| Kelly Patterson DDS|                      4|       673.02|
|         2|     Edward|    Buck|10-Dec-18|      NaN|  Area Sales Manager|   Crystal Walker|edward.buck@bilea...|          PL|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|                   NaN|            Sales|       General - Sga|06-10-1991|   MA|             Assistant|      Male|        2330|Hispanic|    Widowed|      Fully Meets|                      4|       3429| 27-05-2023|               1|                 2|                      1|    13-Aug-22| Leadership Develo...|     External|          Failed| East Roberthaven|       Taylor Thomas|                      2|       413.28|
|         3|    Michael| Riordan|21-Jun-21|      NaN|  Area Sales Manager|   Rebekah Wright|michael.riordan@b...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|            Unk|                   NaN|            Sales|Finance & Accounting|04-04-1998|   ND|                 Clerk|      Male|       58782|   Other|     Single|      Fully Meets|                      2|       3430| 16-06-2023|               5|                 5|                      4|    15-Dec-22|   Project Management|     External|       Completed|        Garzatown|       Holly Elliott|                      3|       663.78|
|         4|    Jasmine|   Onque|29-Jun-19|      NaN|  Area Sales Manager|        Jason Kim|jasmine.onque@bil...|         TNS|        Active|    Contract| Zone A|                 Temporary|            Unk|                   NaN|            Sales|       General - Con|29-08-1969|   FL|               Laborer|    Female|       33174|   Other|    Married|      Fully Meets|                      3|       3431| 25-11-2022|               2|                 5|                      3|    13-Jul-23|     Technical Skills|     External|          Failed|  Lake Meganville|     Donald Martinez|                      5|       399.03|
|         5|      Maruk|  Fraval|17-Jan-20|      NaN|  Area Sales Manager|     Sheri Campos|maruk.fraval@bile...|         BPC|        Active|    Contract| Zone B|                 Full-Time|            Unk|                   NaN|            Sales|    Field Operations|03-04-1949|   CT|                Driver|      Male|        6050|   Black|    Married|      Fully Meets|                      3|       3432| 12-12-2022|               2|                 3|                      5|    18-Apr-23|   Project Management|     Internal|          Passed|      Kingchester|         Holly Sloan|                      2|       820.33|
|         6|      Latia|   Costa|06-Apr-22|03-Jul-23|  Area Sales Manager|      Jacob Braun|latia.costa@bilea...|         WBL|        Active|   Full-Time| Zone B|                 Temporary|    Involuntary|  Me see picture na...|            Sales|       General - Eng|01-07-1942|   CA|            Technician|    Female|       90007|Hispanic|   Divorced|          Exceeds|                      4|       3433| 25-03-2023|               1|                 5|                      2|    06-Aug-22|     Customer Service|     External|          Passed|       Lancehaven|       David Stewart|                      5|       295.08|
|         7|   Sharlene|   Terry|06-Nov-20|29-Jan-23|  Area Sales Manager|    Tracy Marquez|sharlene.terry@bi...|        CCDR|        Active|    Contract| Zone C|                 Full-Time|    Involuntary|  Blue community ty...|            Sales|           Engineers|07-03-1957|   OR|              Engineer|    Female|       97756|   White|   Divorced|      Fully Meets|                      2|       3434| 21-04-2023|               1|                 4|                      2|    07-Oct-22| Leadership Develo...|     Internal|          Passed|      Jeremyshire|     Stephanie Garza|                      3|       790.15|
|         8|        Jac|McKinzie|18-Aug-18|      NaN|  Area Sales Manager|    Sharon Becker|jac.mckinzie@bile...|         NEL|        Active|    Contract| Zone B|                 Part-Time|            Unk|                   NaN|            Sales|           Executive|15-05-1974|   TX|   Executive Assistant|      Male|       78789|   Black|    Widowed|          Exceeds|                      3|       3435| 09-12-2022|               4|                 3|                      3|    19-Jul-23|     Customer Service|     Internal|          Passed|     West Randall|          John Brown|                      3|        798.4|
|         9|     Joseph| Martins|21-Jan-22|29-Jun-23|  Area Sales Manager|   George Jenkins|joseph.martins@bi...|         BPC|        Active|   Part-Time| Zone B|                 Temporary|    Resignation|  Summer personal bag.|            Sales|           Engineers|11-11-1949|   TX|              Engineer|      Male|       78207|   Asian|    Widowed|      Fully Meets|                      5|       3436| 30-07-2023|               5|                 5|                      2|    09-Apr-23| Leadership Develo...|     Internal|          Failed|       Nicolebury|        Megan Wilson|                      5|       192.61|
|        10|     Myriam|  Givens|04-Aug-23|      NaN|  Area Sales Manager|       Troy White|myriam.givens@bil...|         SVG|        Active|    Contract| Zone B|                 Temporary|            Unk|                   NaN|            Sales|    Field Operations|26-01-1964|   IN|            Technician|    Female|       46204|   Other|     Single|      Fully Meets|                      5|       3437| 15-10-2022|               3|                 2|                      5|    20-Oct-22|     Technical Skills|     Internal|          Failed|    Jenniferhaven|  Mrs. Valerie Brown|                      1|       455.68|
|        11|     Dheepa|  Nguyen|10-Aug-18|04-Nov-19|  Area Sales Manager|     Brian Miller|dheepa.nguyen@bil...|         MSC|        Active|   Full-Time| Zone C|                 Temporary|     Retirement|  Alone once than. ...|            Sales|       General - Con|06-04-1948|   GA|            Technician|    Female|       30428|   Asian|    Married|      Fully Meets|                      3|       3438| 28-10-2022|               4|                 2|                      5|    05-Oct-22|     Technical Skills|     Internal|          Failed|       Nunezmouth|   Sharon Flores DDS|                      2|       208.17|
|        12|Bartholemew|Khemmich|25-May-22|27-Nov-22|  Area Sales Manager|    Charles Parks|bartholemew.khemm...|          EW|        Active|   Full-Time| Zone A|                 Temporary|    Involuntary|  Foot in theory mi...|            Sales|            Splicing|24-11-1981|   CO|               Splicer|      Male|       80820|   Other|     Single|      Fully Meets|                      3|       3439| 30-10-2022|               1|                 2|                      5|    09-Mar-23|     Technical Skills|     External|      Incomplete|Port Margaretview|     Kimberly Garcia|                      1|       421.07|
|        13|       Xana|   Potts|05-Dec-19|17-Feb-23|  Area Sales Manager|   Gregory Walker|xana.potts@bilear...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|    Resignation|  Degree wish scien...|            Sales|Finance & Accounting|06-11-1951|   KY|            Controller|    Female|       40220|   White|   Divorced|      Fully Meets|                      3|       3440| 24-09-2022|               1|                 4|                      5|    29-May-23| Communication Skills|     External|          Failed|        Nancyview|Christopher Under...|                      1|       649.03|
|        14|     Prater|  Jeremy|28-Apr-19|      NaN|  Area Sales Manager|      Tyler Lewis|prater.jeremy@bil...|         BPC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|                   NaN|            Sales|       General - Con|21-11-1989|   NV|               Lineman|      Male|       89139|   Asian|    Widowed|          Exceeds|                      4|       3441| 30-10-2022|               4|                 2|                      5|    08-Jan-23|   Project Management|     Internal|          Passed|      Carrollside|         Robert Kane|                      4|        450.2|
|        15|     Kaylah|    Moon|09-Jul-19|16-Jun-22|  Area Sales Manager|     Ashley Scott|kaylah.moon@bilea...|         PYZ|        Active|   Full-Time| Zone A|                 Full-Time|     Retirement|  Fear particular m...|            IT/IS|    Field Operations|24-11-1952|   MA|               Laborer|      Male|        2810|   Black|     Single|          Exceeds|                      2|       3442| 31-10-2022|               2|                 5|                      3|    06-Mar-23|   Project Management|     External|          Failed|  Port Davidshire|      Victoria Berry|                      4|       286.87|
|        16|    Kristen|    Tate|05-Apr-21|12-May-23|  Area Sales Manager|     Lauren Jones|kristen.tate@bile...|         WBL|        Active|   Full-Time| Zone C|                 Part-Time|      Voluntary|  Wall body wonder ...|            IT/IS|Project Managemen...|08-04-1994|   KY|           Coordinator|      Male|        2621|   Asian|    Widowed|      Fully Meets|                      3|       3443| 29-04-2023|               2|                 2|                      4|    18-Feb-23|     Technical Skills|     External|          Failed|       East Katie|       Gary Thornton|                      3|       402.13|
|        17|      Bobby| Rodgers|28-Nov-21|04-Feb-22|  Area Sales Manager|  Matthew Jackson|bobby.rodgers@bil...|         NEL|        Active|    Contract| Zone A|                 Part-Time|      Voluntary|  Visit foot nearly...|            Sales|           Engineers|15-11-1983|   KY|              Director|      Male|       44553|   Other|    Widowed|      Fully Meets|                      3|       3444| 14-12-2022|               1|                 2|                      4|    02-Nov-22|     Technical Skills|     External|          Failed|       Jacobburgh|      William Willis|                      2|       388.84|
|        18|       Reid|    Park|16-Jan-21|      NaN|  Area Sales Manager|Michelle Mitchell|reid.park@bilearn...|          PL|        Active|    Contract| Zone C|                 Full-Time|            Unk|                   NaN|            Sales|Project Managemen...|07-12-1985|   KY|            Supervisor|    Female|        5360|   Other|    Married|          Exceeds|                      4|       3445| 07-05-2023|               4|                 5|                      2|    14-Jul-23|   Project Management|     External|       Completed|        Ryanmouth|            Andre Wu|                      2|       879.64|
|        19|     Hector|  Dalton|24-Aug-21|      NaN|  Area Sales Manager|    Sydney French|hector.dalton@bil...|         BPC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|                   NaN|            Sales|    Field Operations|01-05-1996|   TX|               Driller|    Female|       16325|   White|   Divorced|          Exceeds|                      2|       3446| 21-05-2023|               4|                 3|                      5|    11-Dec-22|     Technical Skills|     Internal|          Failed|       South John|      Olivia Holland|                      5|       701.13|
+----------+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+--------------------+-----------------------+-------------+
only showing top 20 rows

In [33]:
spark.sql(f"CREATE NAMESPACE IF NOT EXISTS {catalog}.{schema};")

DataFrame[]

In [34]:
try:
    df_spark.write.mode(mode).format("parquet").saveAsTable(f"{catalog}.{schema}.{table_name}")
    print(f"Successfully load data into {catalog}.{schema}.{table_name}")
except Exception as e:
    print(f"Failed to load data into {catalog}.{schema}.{table_name}: {e}")
    raise

Successfully load data into lakehouse_prod_catalog.raw_bronze_zone.bronze_hris_employee

In [36]:
spark.sql(f"SELECT * FROM {catalog}.{schema}.{table_name};").show()

+----------+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+--------------------+-----------------------+-------------+
|Unnamed: 0|  FirstName|LastName|StartDate| ExitDate|               Title|       Supervisor|             ADEmail|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|Employee ID|Survey Date|Engagement Score|Satisfaction Score|Work-Life Balance Score|Training Date|Training Program Name|Training Type|Training Outcome|         Location|             Trainer|Training Duration(Days)|Training Cost|
+----------+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+--------------------+-----------------------+-------------+
|         0|      Uriah| Bridges|20-Sep-19|      NaN|Production Techni...|     Peter Oneill|uriah.bridges@bil...|        CCDR|        Active|    Contract| Zone C|                 Temporary|            Unk|                   NaN|Production       |Finance & Accounting|07-10-1969|   MA|            Accounting|    Female|       34904|   White|    Widowed|      Fully Meets|                      4|       3427| 14-01-2023|               1|                 2|                      3|    15-Jul-23| Leadership Develo...|     Internal|          Failed|     South Marisa|    Taylor Rodriguez|                      2|       606.11|
|         1|      Paula|   Small|11-Feb-23|      NaN|Production Techni...|  Renee Mccormick|paula.small@bilea...|          EW|        Active|    Contract| Zone A|                 Part-Time|            Unk|                   NaN|Production       |              Aerial|30-08-1965|   MA|                 Labor|      Male|        6593|Hispanic|    Widowed|      Fully Meets|                      3|       3428| 09-09-2022|               2|                 1|                      5|    12-Sep-22|     Customer Service|     External|      Incomplete|      Tammieville| Kelly Patterson DDS|                      4|       673.02|
|         2|     Edward|    Buck|10-Dec-18|      NaN|  Area Sales Manager|   Crystal Walker|edward.buck@bilea...|          PL|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|                   NaN|            Sales|       General - Sga|06-10-1991|   MA|             Assistant|      Male|        2330|Hispanic|    Widowed|      Fully Meets|                      4|       3429| 27-05-2023|               1|                 2|                      1|    13-Aug-22| Leadership Develo...|     External|          Failed| East Roberthaven|       Taylor Thomas|                      2|       413.28|
|         3|    Michael| Riordan|21-Jun-21|      NaN|  Area Sales Manager|   Rebekah Wright|michael.riordan@b...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|            Unk|                   NaN|            Sales|Finance & Accounting|04-04-1998|   ND|                 Clerk|      Male|       58782|   Other|     Single|      Fully Meets|                      2|       3430| 16-06-2023|               5|                 5|                      4|    15-Dec-22|   Project Management|     External|       Completed|        Garzatown|       Holly Elliott|                      3|       663.78|
|         4|    Jasmine|   Onque|29-Jun-19|      NaN|  Area Sales Manager|        Jason Kim|jasmine.onque@bil...|         TNS|        Active|    Contract| Zone A|                 Temporary|            Unk|                   NaN|            Sales|       General - Con|29-08-1969|   FL|               Laborer|    Female|       33174|   Other|    Married|      Fully Meets|                      3|       3431| 25-11-2022|               2|                 5|                      3|    13-Jul-23|     Technical Skills|     External|          Failed|  Lake Meganville|     Donald Martinez|                      5|       399.03|
|         5|      Maruk|  Fraval|17-Jan-20|      NaN|  Area Sales Manager|     Sheri Campos|maruk.fraval@bile...|         BPC|        Active|    Contract| Zone B|                 Full-Time|            Unk|                   NaN|            Sales|    Field Operations|03-04-1949|   CT|                Driver|      Male|        6050|   Black|    Married|      Fully Meets|                      3|       3432| 12-12-2022|               2|                 3|                      5|    18-Apr-23|   Project Management|     Internal|          Passed|      Kingchester|         Holly Sloan|                      2|       820.33|
|         6|      Latia|   Costa|06-Apr-22|03-Jul-23|  Area Sales Manager|      Jacob Braun|latia.costa@bilea...|         WBL|        Active|   Full-Time| Zone B|                 Temporary|    Involuntary|  Me see picture na...|            Sales|       General - Eng|01-07-1942|   CA|            Technician|    Female|       90007|Hispanic|   Divorced|          Exceeds|                      4|       3433| 25-03-2023|               1|                 5|                      2|    06-Aug-22|     Customer Service|     External|          Passed|       Lancehaven|       David Stewart|                      5|       295.08|
|         7|   Sharlene|   Terry|06-Nov-20|29-Jan-23|  Area Sales Manager|    Tracy Marquez|sharlene.terry@bi...|        CCDR|        Active|    Contract| Zone C|                 Full-Time|    Involuntary|  Blue community ty...|            Sales|           Engineers|07-03-1957|   OR|              Engineer|    Female|       97756|   White|   Divorced|      Fully Meets|                      2|       3434| 21-04-2023|               1|                 4|                      2|    07-Oct-22| Leadership Develo...|     Internal|          Passed|      Jeremyshire|     Stephanie Garza|                      3|       790.15|
|         8|        Jac|McKinzie|18-Aug-18|      NaN|  Area Sales Manager|    Sharon Becker|jac.mckinzie@bile...|         NEL|        Active|    Contract| Zone B|                 Part-Time|            Unk|                   NaN|            Sales|           Executive|15-05-1974|   TX|   Executive Assistant|      Male|       78789|   Black|    Widowed|          Exceeds|                      3|       3435| 09-12-2022|               4|                 3|                      3|    19-Jul-23|     Customer Service|     Internal|          Passed|     West Randall|          John Brown|                      3|        798.4|
|         9|     Joseph| Martins|21-Jan-22|29-Jun-23|  Area Sales Manager|   George Jenkins|joseph.martins@bi...|         BPC|        Active|   Part-Time| Zone B|                 Temporary|    Resignation|  Summer personal bag.|            Sales|           Engineers|11-11-1949|   TX|              Engineer|      Male|       78207|   Asian|    Widowed|      Fully Meets|                      5|       3436| 30-07-2023|               5|                 5|                      2|    09-Apr-23| Leadership Develo...|     Internal|          Failed|       Nicolebury|        Megan Wilson|                      5|       192.61|
|        10|     Myriam|  Givens|04-Aug-23|      NaN|  Area Sales Manager|       Troy White|myriam.givens@bil...|         SVG|        Active|    Contract| Zone B|                 Temporary|            Unk|                   NaN|            Sales|    Field Operations|26-01-1964|   IN|            Technician|    Female|       46204|   Other|     Single|      Fully Meets|                      5|       3437| 15-10-2022|               3|                 2|                      5|    20-Oct-22|     Technical Skills|     Internal|          Failed|    Jenniferhaven|  Mrs. Valerie Brown|                      1|       455.68|
|        11|     Dheepa|  Nguyen|10-Aug-18|04-Nov-19|  Area Sales Manager|     Brian Miller|dheepa.nguyen@bil...|         MSC|        Active|   Full-Time| Zone C|                 Temporary|     Retirement|  Alone once than. ...|            Sales|       General - Con|06-04-1948|   GA|            Technician|    Female|       30428|   Asian|    Married|      Fully Meets|                      3|       3438| 28-10-2022|               4|                 2|                      5|    05-Oct-22|     Technical Skills|     Internal|          Failed|       Nunezmouth|   Sharon Flores DDS|                      2|       208.17|
|        12|Bartholemew|Khemmich|25-May-22|27-Nov-22|  Area Sales Manager|    Charles Parks|bartholemew.khemm...|          EW|        Active|   Full-Time| Zone A|                 Temporary|    Involuntary|  Foot in theory mi...|            Sales|            Splicing|24-11-1981|   CO|               Splicer|      Male|       80820|   Other|     Single|      Fully Meets|                      3|       3439| 30-10-2022|               1|                 2|                      5|    09-Mar-23|     Technical Skills|     External|      Incomplete|Port Margaretview|     Kimberly Garcia|                      1|       421.07|
|        13|       Xana|   Potts|05-Dec-19|17-Feb-23|  Area Sales Manager|   Gregory Walker|xana.potts@bilear...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|    Resignation|  Degree wish scien...|            Sales|Finance & Accounting|06-11-1951|   KY|            Controller|    Female|       40220|   White|   Divorced|      Fully Meets|                      3|       3440| 24-09-2022|               1|                 4|                      5|    29-May-23| Communication Skills|     External|          Failed|        Nancyview|Christopher Under...|                      1|       649.03|
|        14|     Prater|  Jeremy|28-Apr-19|      NaN|  Area Sales Manager|      Tyler Lewis|prater.jeremy@bil...|         BPC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|                   NaN|            Sales|       General - Con|21-11-1989|   NV|               Lineman|      Male|       89139|   Asian|    Widowed|          Exceeds|                      4|       3441| 30-10-2022|               4|                 2|                      5|    08-Jan-23|   Project Management|     Internal|          Passed|      Carrollside|         Robert Kane|                      4|        450.2|
|        15|     Kaylah|    Moon|09-Jul-19|16-Jun-22|  Area Sales Manager|     Ashley Scott|kaylah.moon@bilea...|         PYZ|        Active|   Full-Time| Zone A|                 Full-Time|     Retirement|  Fear particular m...|            IT/IS|    Field Operations|24-11-1952|   MA|               Laborer|      Male|        2810|   Black|     Single|          Exceeds|                      2|       3442| 31-10-2022|               2|                 5|                      3|    06-Mar-23|   Project Management|     External|          Failed|  Port Davidshire|      Victoria Berry|                      4|       286.87|
|        16|    Kristen|    Tate|05-Apr-21|12-May-23|  Area Sales Manager|     Lauren Jones|kristen.tate@bile...|         WBL|        Active|   Full-Time| Zone C|                 Part-Time|      Voluntary|  Wall body wonder ...|            IT/IS|Project Managemen...|08-04-1994|   KY|           Coordinator|      Male|        2621|   Asian|    Widowed|      Fully Meets|                      3|       3443| 29-04-2023|               2|                 2|                      4|    18-Feb-23|     Technical Skills|     External|          Failed|       East Katie|       Gary Thornton|                      3|       402.13|
|        17|      Bobby| Rodgers|28-Nov-21|04-Feb-22|  Area Sales Manager|  Matthew Jackson|bobby.rodgers@bil...|         NEL|        Active|    Contract| Zone A|                 Part-Time|      Voluntary|  Visit foot nearly...|            Sales|           Engineers|15-11-1983|   KY|              Director|      Male|       44553|   Other|    Widowed|      Fully Meets|                      3|       3444| 14-12-2022|               1|                 2|                      4|    02-Nov-22|     Technical Skills|     External|          Failed|       Jacobburgh|      William Willis|                      2|       388.84|
|        18|       Reid|    Park|16-Jan-21|      NaN|  Area Sales Manager|Michelle Mitchell|reid.park@bilearn...|          PL|        Active|    Contract| Zone C|                 Full-Time|            Unk|                   NaN|            Sales|Project Managemen...|07-12-1985|   KY|            Supervisor|    Female|        5360|   Other|    Married|          Exceeds|                      4|       3445| 07-05-2023|               4|                 5|                      2|    14-Jul-23|   Project Management|     External|       Completed|        Ryanmouth|            Andre Wu|                      2|       879.64|
|        19|     Hector|  Dalton|24-Aug-21|      NaN|  Area Sales Manager|    Sydney French|hector.dalton@bil...|         BPC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|                   NaN|            Sales|    Field Operations|01-05-1996|   TX|               Driller|    Female|       16325|   White|   Divorced|          Exceeds|                      2|       3446| 21-05-2023|               4|                 3|                      5|    11-Dec-22|     Technical Skills|     Internal|          Failed|       South John|      Olivia Holland|                      5|       701.13|
+----------+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+--------------------+-----------------------+-------------+
only showing top 20 rows

25/10/15 16:26:02 WARN NettyRpcEnv: Ignored failure: java.util.concurrent.TimeoutException: Cannot receive any reply from 95ac209e1b97:33799 in 10000 milliseconds
25/10/15 16:29:05 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.rpc.RpcTimeoutException: Futures timed out after [10000 milliseconds]. This timeout is controlled by spark.executor.heartbeatInterval
	at org.apache.spark.rpc.RpcTimeout.org$apache$spark$rpc$RpcTimeout$$createRpcTimeoutException(RpcTimeout.scala:47)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:62)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:58)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:76)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:101)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1236)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:296)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:539)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)
Caused by: java.util.concurrent.TimeoutException: Futures timed out after [10000 milliseconds]
	at scala.concurrent.impl.Promise$DefaultPromise.ready(Promise.scala:259)
	at scala.concurrent.impl.Promise$DefaultPromise.result(Promise.scala:263)
	at org.apache.spark.util.SparkThreadUtils$.awaitResult(SparkThreadUtils.scala:48)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:310)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	... 12 more
25/10/15 16:29:06 WARN NettyRpcEnv: Ignored message: HeartbeatResponse(false)

In [25]:
spark.stop()